{{ if and .Site.Params.search (isset .Site.Params.search "algolia") -}}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@4.7.0/dist/style.css"
      integrity="sha512-GtDg93JyPoI3m6yOsdrXzgO1EkNYs5LhcIcuOH2q6/gK36lzVoNg7VEspfoDIBisRvp8IUjNNTRwfHJan2QmkQ=="
  crossorigin="anonymous" />
{{ end -}}

{{ if ne .Site.Params.algolia_docsearch nil -}}
{{ warnf `Config 'params.algolia_docsearch' is deprecated: use 'params.search.algolia'
      For details, see https://www.docsy.dev/docs/content/search/#algolia-docsearch.` -}}
{{ end -}}
