# Note that Prettier ignore rules differ slightly from gitignore rules. The main
# gotcha is that once a _directory_ is ignored, it's content cannot be
# unignored.

# Ignore all _files_ under the theme's assets
/theme/assets/**/*.*

# Selectively unignore some files
!/theme/assets/scss/main.scss
!/theme/assets/scss/td/**/*

# These files are derived from other sources,
# don't Prettify them:
/theme/assets/scss/td/_variables_forward.scss
/theme/assets/scss/td/chroma/**/*
