+++
title = "Ctrl-z"
linkTitle = "Ctrl-z"

+++

{{< blocks/cover title="Welcome to Ctrl-z!" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/about" >}}">
		Read Why! <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/google/docsy">
		Go to Project <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">Ctrl-z is an interdisciplinary project from [ITS-ICT](https://www.its-ictpiemonte.it/) Course [Cloud Services, Big Data and IoT](https://www.its-ictpiemonte.it/courses/cloud-services-big-data-iot/ Project about Italian Social Changings based on Covid-19</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}

{{% blocks/lead color="primary" %}}
The students group will analyse and design different problems and solutions using Sowfta Skills, Design Thinking and their technical Expertise. 
{{% /blocks/lead %}}

{{< blocks/section color="dark" type="features">}}

{{% blocks/feature icon="fa-search-plus" title="Identification and Analysis" url="/docs/examples/" %}}
Problems based on the scenarios each group chose are object of research and documentation.
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-pen" title="Design and Prototyping of a Solution" url="https://github.com/google/docsy" %}}
The teams are asked to confront and develop several solutions on the problems, involving possible stakeholders {{% /blocks/feature %}}


{{% blocks/feature icon="fa-vial" title="Development and deployment. " url="https://twitter.com/docsydocs" %}}
Projects are selected and brought to life, possibly put in testing stage to the client.
{{% /blocks/feature %}}


{{< /blocks/section >}}
