.*
/*
!/content
/content/*
!/content/en
/content/en/*

!/content/en/docs
/content/en/docs/*
!/content/en/docs/_index.md

!/content/en/docs/adding-content
/content/en/docs/adding-content/*
!/content/en/docs/adding-content/search.md

!/content/en/docs/adding-content/lookandfeel.md

!/static
