{{/* cSpell:ignore pagelinks */ -}}

<div class="td-version-menu dropdown">
  <a class="nav-link dropdown-toggle td-version-menu__title" href="#" role="button"
    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="td-version-menu__title-text">
      {{- .Site.Params.version_menu -}}
    </span>
  </a>
  {{/* */ -}}

  <ul class="dropdown-menu">
    {{ $path := "" -}}
    {{ if .Site.Params.version_menu_pagelinks -}}
      {{ $path = .Page.RelPermalink -}}
    {{ end -}}
    {{ range .Site.Params.versions -}}
      {{ $isActive := or
          (eq .version $.Site.Params.version)
          (eq $.Site.BaseURL .url) -}}
      {{ $isSeparator := eq .name "---" -}}
      {{ $isEnabled := and .url (not $isSeparator) -}}
      {{ $name := .name | default .version -}}
      {{ $tag := cond $isEnabled "a" "span" -}}
      <li>
        {{ if and $isEnabled (not $isActive) -}}
          <a {{ else -}}
          <span {{/**/ -}}
        {{ end -}}
          class="dropdown-item
            {{- if not $isEnabled }} disabled {{- end -}}
            {{- with .kind }} dropdown-item-{{ . }} {{- end -}}
            {{- if $isActive }} active {{- end -}}
          "
          {{- if $isActive }} aria-current="page" {{- end -}}
          {{ if not $isEnabled }} disabled {{- end -}}
          {{ with .url }} href="{{ . }}{{ $path }}" {{- end -}}
        >
        {{ if eq $name "---" -}}
        <hr class="dropdown-divider">
        {{ else -}}
          {{- $name -}}
        {{ end -}}

        {{/* Closing tag */ -}}
        {{ if $isEnabled -}}
          </a>
        {{ else -}}
          </span>
        {{ end -}}
      </li>
    {{ end -}}
  </ul>
</div>