{{ $context := .context -}}
{{ $taxo := .taxo -}}
{{ if (gt (len ($context.GetTerms $taxo)) 0) -}}
<div class="taxonomy taxonomy-terms-article taxo-{{ urlize $taxo }}">

  {{ $title := (humanize $taxo) }}
  {{ with (index site.Params.Taxonomy.taxonomyAliasMap $taxo) }}
    {{ $title = . }}
  {{ else }}
    {{ $i18nKey := printf "taxonomy_%s" $taxo }}
    {{ with T $i18nKey }}
      {{ $title = . }}
    {{ end }}
  {{ end }}

  <h5 class="taxonomy-title">{{ $title }}:</h5>
  <ul class="taxonomy-terms">
    {{ range ($context.GetTerms $taxo) -}}
      <li><a class="taxonomy-term" href="{{ .Permalink }}" data-taxonomy-term="{{ urlize .LinkTitle }}"><span class="taxonomy-label">{{ .LinkTitle }}</span></a></li>
    {{ end -}}
  </ul>
</div>
{{ end -}}
