# cSpell:ignore lookandfeel

/content/**/*.*
!/content/en/blog/**/*.*
!/content/en/docs/_index.md
!/content/en/docs/content/**/*.*
!/content/en/docs/best-practices/**/*.*
!/content/en/docs/get-started/other-options.md
!/content/en/docs/language.md
!/content/en/project/**/*.*

/layouts
