+++
title = "Ctrl-z"
linkTitle = "Ctrl-z"

+++

{{< blocks/cover title="Benvunti sul sito del progetto Crlt-z!" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/about" >}}">
		Perché? <i class="fas fa-info-circle ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="/docs/">
		Vai al Progetto <i class="fa fa-rocket ml-2 "></i>
	</a>
	<p class="lead mt-5">Ctrl-z é un progetto interdisciplinare del Corso <a href="https://www.its-ictpiemonte.it/courses/cloud-services-big-data-iot">Cloud Services, Big Data and IoT</a> dell'<a href="https://www.its-ictpiemonte.it/">ITS-ICT</a> di Torino</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}

{{% blocks/lead color="primary" %}}
L'obiettivo del progetto é <strong> analizzare in che modo il Covid-19, il Lockdown e la riapertura hanno influenzato il piccolo commercio di quartiere </strong> e su alcune <strong> professioni legate alla cura della persona </strong> (i.e. dal medico della mutua all'estetista, dal fruttivendolo al macellaio).  </p>
<strong>Verranno adottati</strong> diversi <strong>strumenti </strong> basati sulle <strong> <a href="https://en.wikipedia.org/wiki/Soft_skills"> Soft Skills </a> e sul <a href="https://it.wikipedia.org/wiki/Design_Thinking"> Design Thinking </a></strong> per l'identificazione degli scenari e delle criticità.
<strong>I gruppi</strong> formati da 3-4 studenti ciascuno <strong>analizzeranno un problema e ne ipotizzeranno soluzioni</strong>. Alcune di esse saranno quindi prototipate dal gruppo classe. </p>
{{% /blocks/lead %}}

{{< blocks/section color="dark" type="features">}}

{{% blocks/feature icon="fa-search-plus" title="Identificazione ed Analisi" url="/docs/" %}}
Gli scenari scelti da ogni gruppo sono oggetto di analisi, ricerca e documentazione. Identificazione degli stakeholeder e documentazione.
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-pen" title="Design e Prototipazione" url="/docs/" %}}
Ai gruppi viene chiesto di sviluppare possibli soluzioni al problema. {{% /blocks/feature %}}


{{% blocks/feature icon="fa-vial" title="Sviluppo ed Installazione " url="/docs/" %}}
I progetti sono selezionati e prodotti, installati per un breve periodo presso il cliente.
{{% /blocks/feature %}}


{{< /blocks/section >}}
