+++
title = "Ctrl-z"
linkTitle = "Ctrl-z"

+++

{{< blocks/cover title="Benvunti sul sito del progetto Crlt-z!" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/about" >}}">
		Perché? <i class="fas fa-info-circle ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="/docs/">
		Vai al Progetto <i class="fab fa-rocket ml-2 "></i>
	</a>
	<p class="lead mt-5">Ctrl-z é un progetto interdisciplinare del Corso <a href="https://www.its-ictpiemonte.it/courses/cloud-services-big-data-iot">Cloud Services, Big Data and IoT</a> dell'<a href="https://www.its-ictpiemonte.it/">ITS-ICT</a> di Torino scolastico </p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}

{{% blocks/lead color="primary" %}}
L'obiettivo del Progetto analizzare in chem odo il Covid-19, il lockdown e la riapertura hanno influenzato il piccolo commercio di quartiere e alcune professione legate al rapporto con la persona.  Verranno adottati diversi strumenti basati su Soft Skills e Design Thinking per l'identificazione degli scenari e delle criticità. I gruppi formati da 3-4 studenti ciascuno analizzeranno un problema e ne ipotizzeranno soluzioni. Alcune di esse saranno quindi prototipate dal gruppo classe.
{{% /blocks/lead %}}

{{< blocks/section color="dark" type="features">}}

{{% blocks/feature icon="fa-search-plus" title="Identificazione ed Analisi" url="/docs/" %}}
Gli scenari scelti da ogni gruppo sono oggetto di analisi, ricerca e documentazione. Identificazione degli stakeholeder e documentazione.
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-pen" title="Design e Prototipazione" url="/docs/" %}}
Ai gruppi viene chiesto di sviluppare possibli soluzioni al problema. {{% /blocks/feature %}}


{{% blocks/feature icon="fa-vial" title="Sviluppo ed Installazione " url="/docs/" %}}
I progetti sono selezionati e prodotti, installati per un breve periodo presso il cliente.
{{% /blocks/feature %}}


{{< /blocks/section >}}
