+++
title = "Docsy"
linkTitle = "Docsy"

+++

{{<blocks/cover title="Ciclorifugio 4.0" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/about" >}}">
		Chi siamo <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Documentazione <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<p class="lead mt-5">Il progetto prevede la costruzione di un rifugio ecosostenibile, energicamente autonomo (Near zero emission building)</p>
	{{<blocks/link-down color="info" >}}
</div>
{{</blocks/cover >}}


{{% blocks/lead color="primary" %}}
<strong> Team di cinque studenti del ITS-ICT PIEMONTE ha realizzato questa prototipazione</strong>
{{% /blocks/lead %}}

{{<blocks/section color="dark" type="features">}}
{{% blocks/feature <figure><img src="/images/its-logo-black.jpg"></figure> title="Fondazione ITS-ICT PIEMONTE" url="https://www.its-ictpiemonte.it/" %}}
Una scuola che è già posto di lavoro. Un campus in cui gli studenti possono mettere subito in pratica ciò che apprendono, grazie a laboratori e progetti di gruppo. Un luogo in cui sono imprenditori e professionisti a salire in cattedra, per trasmettere l’esperienza conquistata nel mercato. Il posto giusto per chi vuole iniziare oggi a costruire il proprio futuro.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="UP SKILL 4.0" url="https://www.upskill40.it/" %}}
L’innovazione 4.0 del Made in Italy passa innanzitutto dalle persone, dalle loro competenze e dalla loro collaborazione. Upskill 4.0 è la piattaforma che lega il mondo degli ITS, la formazione tecnica superiore, a quello dell’impresa
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="MIUR" url="https://www.miur.gov.it/" %}}
Il Ministero dell'istruzione, dell'università e della ricerca (MIUR)
{{% /blocks/feature %}}


{{</blocks/section >}}

