// Style alert boxes.

.alert {
  font-weight: $font-weight-medium;
  color: inherit;
  border-radius: 0;

  :last-child {
    margin-bottom: 0;
  }

  .alert-heading {
    color: var(--bs-alert-link-color);
  }

  @each $color, $value in $theme-colors {
    &-#{$color} {
      border-style: solid;
      border-color: $value;
      border-width: 0 0 0 4px;
    }
  }
}

// The following is a placeholder class:
// .td-alert-body {}

// Styles for GFM blockquote-alert types
.alert-caution {
  @extend .alert-warning;
}

.alert-important {
  @extend .alert-info;
}

.alert-note {
  @extend .alert-primary;
}

.alert-tip {
  @extend .alert-success;
}

// Docsy custom alert type:
.alert-nb {
  @extend .alert-note;
}
