.td-cover--image {
    background-image: url('../../../../images/hero-banner.jpg');
    background-position: left center;
    background-size: cover;
}

.icon-brand-color {
    color: #00A868;
}

a {
    color: #00A868;
    text-decoration: none;
    font-weight: 600;
}