.td-cover--image {
    background-image: url('../../../../images/hero-banner.jpg');
    background-position: left center;
    background-size: cover;
}

.icon-brand-color {
    color: #00A868;
}

@font-face {
    font-family: 'Sharon Sans';
    src: url('https://res.cloudinary.com/dunz5zfpt/raw/upload/fonts/SharonSans-Lt.woff2')
        format('woff2'),
      url('https://res.cloudinary.com/dunz5zfpt/raw/upload/fonts/SharonSans-Lt.woff')
        format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Sharon Sans';
    src: url('https://res.cloudinary.com/dunz5zfpt/raw/upload/fonts/SharonSans-Rg.woff2')
        format('woff2'),
      url('https://res.cloudinary.com/dunz5zfpt/raw/upload/fonts/SharonSans-Rg.woff')
        format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Sharon Sans';
    src: url('https://res.cloudinary.com/dunz5zfpt/raw/upload/fonts/SharonSans-Bd.woff2')
        format('woff2'),
      url('https://res.cloudinary.com/dunz5zfpt/raw/upload/fonts/SharonSans-Bd.woff')
        format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Sharon Sans';
    src: url('https://res.cloudinary.com/dunz5zfpt/raw/upload/fonts/SharonSans-Md.woff2')
        format('woff2'),
      url('https://res.cloudinary.com/dunz5zfpt/raw/upload/fonts/SharonSans-Md.woff')
        format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

html, body {
    font-family: Sharon Sans, sans-serif;
}

a {
    color: #00A868;
    text-decoration: none;
    font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

.bold-title {
    font-weight: 600;
    color: #181D25;
}

.td-box--light {
    color : #7F8C9F;
    background-color: #fff;
    h1, h2, h3, h4, h5, h6 {
        color: #181D25;
    }
}

body.td-section {
  background-color: #EFF4F8;
}