.section-index {

    .entry {
        padding: .75rem;
        background-color: #fff;
        border-radius: 8px;
        margin-bottom: 16px;
    }

    h5 {
        margin-bottom: 0;

        a {
            font-weight: 700;
        }
    }

    p {
        margin-top: 0;
    }
}

.entry-title {
    background-color: #fff;
    padding: 16px;
    border-radius: 8px;
}
