// Styles for docs-like pages without left sidebar

.td-no-left-sidebar .td-main {
  // Hide left sidebar
  .td-sidebar {
    display: none !important;
  }

  .td-sidebar-toc {
    // Hidden on narrow viewports below xl

    @include media-breakpoint-up(xl) {
      @extend .col-xl-2;
      display: block !important;
      // Ensure ToC top aligns with the navbar bottom
      margin-top: $td-navbar-min-height;
    }
  }

  // The <main> element sibling of the ToC sidebar
  > div > main {
    @extend .col-md-12;
    @extend .col-xl-10;

    // Only add padding when the ToC is visible
    @include media-breakpoint-up(xl) {
      padding-right: 3rem;
    }

    @include media-breakpoint-up(lg) {
      // Center content on larger screens
      .td-content,
      .td-breadcrumbs {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;

        // Cancel .td-max-width-on-larger-screens
        // TODO: generalize this?
        > * {
          max-width: 100%;
        }
      }
    }
  }
}
