{{ $icon := .Get "icon" | default "fa-lightbulb" -}}
{{ $url_text := .Get "url_text" -}}
<div class="col-lg-4 mb-5 mb-lg-0 text-center">
<div class="mb-4 h1">
<a class="text-white" target="_blank" href="{{ .Get "url" }}">
  <i class="{{ if not (or (hasPrefix $icon "fas ") (hasPrefix $icon "fab ")) }}fas {{ end }}{{ $icon }}"></i>
</a>  
</div>
<h4 class="h3">
  <p><a target="_blank" href="{{ .Get "url" }}">{{- .Get "title" | markdownify -}}</a></p>
</h4>
<div class="mb-0">
{{ .Inner }}
</div>
{{ with .Get "url" }}<p><a href="{{ . }}">{{ with $url_text }}{{ $url_text }}{{ else }}{{ T "ui_read_more" }}{{ end }} …</a></p>{{ end }}
</div>
