{{ $icon := .Get "icon" | default "fa-lightbulb" -}}
{{ $url_text := .Get "url_text" -}}
{{ $title := .Get "title" | markdownify }}
{{ $link := "" }}
<div class="col-lg-4 mb-5 mb-lg-0 text-center">
<div class="mb-4 h1">
{{ with .Get "url" }}
  {{ $link = "<a class=\"text-white\" target=\"_blank\" href=\"" . "\">" }}
{{ end }}

{{ $iconClass := "fas " }}
{{ if not (or (hasPrefix $icon "fas ") (hasPrefix $icon "fab ")) }}
  {{ $iconClass = "fas " }}
{{ end }}
{{ $iconClass = print $iconClass $icon }}

{{ $link }}<i class="{{ $iconClass }}"></i>{{ if $link }}</a>{{ end }}
</div>

<h4 class="h3">
{{ with .Get "url" }}
  <a target="_blank" href="{{ .  }}"><p>{{ $title }}</p></a>
{{ else }}
  <p>{{ $title }}</p>
{{ end }}
</h4>
<div class="mb-0">
{{ .Inner }}
</div>
{{ with .Get "url" }}<p><a href="{{ . }}">{{ with $url_text }}{{ $url_text }}{{ else }}{{ T "ui_read_more" }}{{ end }} …</a></p>{{ end }}
</div>
