{{/* grpc-docsy file override */ -}}
{{ if not .Parent.IsHome -}}
<nav aria-label="breadcrumb" class="d-print-none">
	<ol class="breadcrumb spb-1">
		{{ template "breadcrumbnav" (dict "p1" . "p2" .) }}
	</ol>
</nav	>
{{ else -}}
<div class="l-no-breadcrumb"></div>
{{ end -}}

{{ define "breadcrumbnav" }}
{{ if .p1.Parent }}
{{ if not .p1.Parent.IsHome }}
{{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 )  }}
{{ end }}
{{ else if not .p1.IsHome }}
{{ template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2 )  }}
{{ end }}
{{ $isActive :=  eq .p1 .p2  }}
<li class="breadcrumb-item{{ if $isActive }} active{{ end }}" {{ if $isActive }}aria-current="page"{{ end }}>
	<a href="{{ .p1.Permalink }}">
		{{if isset .p1.Params "short_title" }}
			{{ .p1.Params.short_title }}
		{{ else }}
			{{ .p1.LinkTitle }}
		{{ end }}
	</a>
</li>
{{ end -}}
