{{ $links := .Site.Params.links }}

<section class="row td-box td-box--4 td-box--gradient td-box--height-auto linkbox">
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
<h1>Learn and Connect</h1>		<br>
<p><h2>Using or want to use the @platform,follow us along:</h2><br>
<h3>{{ with index $links "user"}}
{{ template "community-links-list"  . }}</h3>
{{ end }}
</div>


<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
<h1>Develop and Contribute</h1><br>
<p><h2>Get more involved by contributing to the @platform, join us :</h2><br>
  <h3>{{ with index $links "developer"}}
{{ template "community-links-list"  . }}</h3>
{{ end }}
<p><h4>You can find out how to contribute to these docs in our <a href="/docs/contribution-guidelines/">Contribution Guidelines</a>.</h4>
</div>
</section>

{{ define "community-links-list" }}
<ul>
 {{ range . }}
 <li title="{{ .name }}">
   <a target="_blank" rel="noopener" href="{{ .url }}"><i class="{{ .icon }}"></i> {{ .name }}:</a> {{ .desc }} 
 </li>
 <div><br></div>
  {{ end }}
</ul>
{{ end }}
