{{ $cover := .HasShortcode "blocks/cover" }}
<style>
    .btn-primary {
        border-radius: .4rem;
    }
</style>

<nav class="js-navbar-scroll navbar navbar-expand navbar-dark {{ if $cover}} td-navbar-cover {{ end }}flex-column flex-md-row td-navbar">
    <a class="navbar-brand" href="{{ .Site.Home.RelPermalink }}">
        <span class="navbar-logo">{{ if .Site.Params.ui.navbar_logo }}{{ with resources.Get "icons/logo.svg" }}{{ ( . | minify).Content | safeHTML }}{{ end }}{{ end }}</span><span class="text-uppercase font-weight-bold">{{ .Site.Title }}</span>
    </a>
    <div class="td-navbar-nav-scroll ml-md-auto" id="main_navbar">
        <ul class="navbar-nav mt-2 mt-lg-0">
            {{ $p := . }} {{ range .Site.Menus.main }}
            <li class="nav-item mr-3 mb-2 mb-lg-0">
                {{ $active := or ($p.IsMenuCurrent "main" .) ($p.HasMenuCurrent "main" .) }} {{ with .Page }} {{ $active = or $active ( $.IsDescendant .) }} {{ end }} {{ $pre := .Pre }} {{ $post := .Post }} {{ $url := urls.Parse .URL }} {{ $baseurl := urls.Parse $.Site.Params.Baseurl
                }}
                <a class="nav-link{{if $active }} active{{end}}" href="{{ with .Page }}{{ .RelPermalink }}{{ else }}{{ .URL | relLangURL }}{{ end }}" {{ if ne $url.Host $baseurl.Host }}target="_blank" {{ end }}>{{ with .Pre}}{{ $pre }}{{ end }}<span{{if $active }} class="active"{{end}}>{{ .Name }}</span>{{ with .Post}}{{ $post }}{{ end }}</a>

            </li>

            {{ end }}
            <a class="btn btn-primary nav-item mr-2 mb-2 mb-lg-0" href="/docs/get-started" role="button">Get started</a>
            <div class="site-header__social navbar-nav flex-row">

                <a class="nav-item nav-link nav-item mr-2mb-2 mb-lg-0" href="https://github.com/flutter" aria-label="Github"><i class="fab fa-github fa-primary"></i></a>
                <a class="nav-item nav-link nav-item mr-2 mb-2 mb-lg-0" href="https://discord.gg/55sHTQFxfz" aria-label="Discord"><i class="fab fa-discord fa-primary"></i></a>

            </div>

        </ul>
    </div>

</nav>
