{{ if .File }}
{{ $pathFormatted := replace .File.Path "\\" "/" -}}
{{ $github_url := "" -}}
{{ $git_repo_type := "" -}}
{{ $git_repo := "" -}}
{{ $git_subdir := "" -}}
{{ $git_project_repo := "" -}}
{{ $git_branch := "" -}}
{{ $git_base := "" -}}
{{ $issuesURL := "" -}}
{{ if $.Param "github_repo" -}}
  {{ $git_repo_type = "github" -}}
  {{ $github_url = ($.Param "github_url") -}}
  {{ $git_repo = ($.Param "github_repo") -}}
  {{ $git_subdir = ($.Param "github_subdir") -}}
  {{ $git_project_repo = ($.Param "github_project_repo") -}}
  {{ $git_branch = (default "main" ($.Param "github_branch")) -}}
  {{ $git_base = $.Param "path_base_for_github_subdir" -}}
  {{ $issuesURL = printf "%s/issues/new?title=%s" $git_repo (safeURL $.Title ) -}}
{{ else if $.Param "gitlab_repo" -}}
  {{ $git_repo_type = "gitlab" -}}
  {{ $git_repo = ($.Param "gitlab_repo") -}}
  {{ $git_subdir = ($.Param "gitlab_subdir") -}}
  {{ $git_project_repo = ($.Param "gitlab_project_repo") -}}
  {{ $git_branch = (default "main" ($.Param "gitlab_branch")) -}}
  {{ $git_base = $.Param "path_base_for_gitlab_subdir" -}}
  {{ $issuesURL = printf "%s/issues/new?issue[title]=%s" $git_repo (safeURL $.Title ) -}}
{{ end }}
<div class="td-page-meta ml-2 pb-1 pt-2 mb-0">
{{ if $github_url -}}
  {{ warnf "Warning: use of `github_url` is deprecated. For details see https://www.docsy.dev/docs/adding-content/repository-links/#github_url-optional" -}}
  <a href="{{ $github_url }}" target="_blank"><i class="fa fa-edit fa-fw"></i> {{ T "post_edit_this" }}</a>
{{ else if ne $git_repo_type "" -}}
  {{ $git_repo_path := printf "%s/content/%s" $git_branch $pathFormatted -}}
  {{ if and ($git_subdir) (.Site.Language.Lang) -}}
    {{ $git_repo_path = printf "%s/%s/content/%s/%s" $git_branch $git_subdir ($.Site.Language.Lang) $pathFormatted -}}
  {{ else if .Site.Language.Lang -}}
    {{ $git_repo_path = printf "%s/content/%s/%s" $git_branch ($.Site.Language.Lang) $pathFormatted -}}
  {{ else if $git_subdir -}}
    {{ $git_repo_path = printf "%s/%s/content/%s" $git_branch $git_subdir $pathFormatted -}}
  {{ end -}}

  {{/* Adjust $git_repo_path based on path_base_for_git(hub|lab)_subdir */ -}}
  {{ $git_rename := "" -}}
  {{ if reflect.IsMap $git_base -}}
    {{ $git_rename = $git_base.to -}}
    {{ $git_base = $git_base.from -}}
  {{ end -}}
  {{ with $git_base -}}
    {{ $git_repo_path = replaceRE . $git_rename $git_repo_path -}}
  {{ end -}}

  {{ $viewURL := printf "%s/tree/%s" $git_repo $git_repo_path -}}
  {{ $editURL := printf "%s/edit/%s" $git_repo $git_repo_path -}}
  {{ $newPageStub := resources.Get "stubs/new-page-template.md" -}}
  {{ $newPageQS := querify "value" $newPageStub.Content "filename" "change-me.md" | safeURL -}}
  {{ $newPageURL := printf "%s/new/%s?%s"  $git_repo $git_repo_path $newPageQS -}}

  <a href="{{ $viewURL }}" class="td-page-meta--view" target="_blank" rel="noopener"><i class="fa fa-file-alt fa-fw"></i> {{ T "post_view_this" }}</a>
  <a href="{{ $editURL }}" class="td-page-meta--edit" target="_blank" rel="noopener"><i class="fa fa-edit fa-fw"></i> {{ T "post_edit_this" }}</a>
  <a href="{{ $newPageURL }}" class="td-page-meta--child" target="_blank" rel="noopener"><i class="fa fa-edit fa-fw"></i> {{ T "post_create_child_page" }}</a>
  <a href="{{ $issuesURL }}" class="td-page-meta--issue" target="_blank" rel="noopener"><i class="fab fa-{{ $git_repo_type }} fa-fw"></i> {{ T "post_create_issue" }}</a>
  {{ with $git_project_repo -}}
    {{ $project_issueURL := printf "%s/issues/new" . -}}
    <a href="{{ $project_issueURL }}" class="td-page-meta--project-issue" target="_blank" rel="noopener"><i class="fas fa-tasks fa-fw"></i> {{ T "post_create_project_issue" }}</a>
  {{ end -}}

{{ end -}}
{{ with .CurrentSection.AlternativeOutputFormats.Get "print" -}}
  <a id="print" href="{{ .Permalink | safeURL }}"><i class="fa fa-print fa-fw"></i> {{ T "print_entire_section" }}</a>
{{ end }}
</div>
{{ end -}}
