<div class="section-index">
    {{ $parent := .Page }}
    {{ $pages := (where .Site.Pages "Section" .Section).ByWeight }}
    {{ $pages = (where $pages "Type" "!=" "search") }}
    {{ $pages = (where $pages ".Params.hide_summary" "!=" true) }}
    {{ $pages = (where $pages ".Parent" "!=" nil) }}
    {{ $pages = (where $pages ".Parent.File" "!=" nil) }}
    {{ $pages = (where $pages "Parent.File.UniqueID" "==" $parent.File.UniqueID) }}

    {{ $summaryLength := cond (isset .Page.Site.Params "childPageSummaryLength") .Page.Site.Params.childPageSummaryLength 80 }}

    {{ $noPageIndex := cond (isset .Page.Site.Params "noPageIndex") .Page.Site.Params.noPageIndex false }}

    {{ if or $noPageIndex (or $parent.Params.no_list (eq (len $pages) 0)) }}
      {{/* If no_list is true or we don't have subpages we don't show a list of subpages */}}
    {{ else if $parent.Params.simple_list }}
      {{/* If simple_list is true we show a bulleted list of subpages */}}
      {{ template "header" }}
      <ul>
        {{ range $pages }}
          {{ $manualLink := cond (isset .Params "manuallink") .Params.manualLink ( cond (isset .Params "manuallinkrelref") (relref . .Params.manualLinkRelref) .RelPermalink) }}
          <li>
            <a
              href="{{ $manualLink }}"
              {{ with .Params.manualLinkTitle }}
                title="{{ . }}"
              {{ end }}{{ with .Params.manualLinkTarget }}
                target="{{ . }}"{{ if eq . "_blank" }}rel="noopener"{{ end }}
              {{ end }}
            >
              {{- .Title -}}
            </a>
          </li>
        {{ end }}
      </ul>
    {{ else }}
      {{/* Otherwise we show a nice formatted list of subpages with page descriptions */}}
      {{ template "header" }}
      <div class="td-card-group card-group p-0 mb-4">
        {{ range $pages }}
          {{ $manualLink := cond (isset .Params "manuallink") .Params.manualLink ( cond (isset .Params "manuallinkrelref") (relref . .Params.manualLinkRelref) .RelPermalink) }}
          <div class="index-card-wrapper">
            <div class="index-card" key="{{ .Title }}">
              <a
                class="index-card-link"
                href="{{ $manualLink }}"
                {{ with .Params.manualLinkTitle }}
                  title="{{ . }}"
                {{ end }}{{ with .Params.manualLinkTarget }}
                  target="{{ . }}"{{ if eq . "_blank" }}rel="noopener"{{ end }}
                {{ end }}
              >
                <div class="index-card-header">
                  <i class="fa-solid fa-file-lines fa-fw"></i>
                  {{ .Title }}
                </div>
                <div class="index-card-body">
                  <p class="card-text" title="{{ .Summary }}">
                    {{ .Summary | truncate $summaryLength -}}
                  </p>
                </div>
              </a>
            </div>
          </div>
        {{ end }}
      </div>
    {{ end }}
  </div>

  {{ define "header" }}
    <hr class="panel-line" />
    <div class="section-title">Section Index</div>
  {{ end }}
