// Breadcrumb

.td-breadcrumbs {
  @media print {
    display: none;
  }

  &__single {
    display: none;
  }

  .breadcrumb {
    background: inherit;
    padding-left: 0;
    padding-top: 0;
  }
}
