@if $enable-dark-mode {
  [data-bs-theme='light'] {
    @import 'chroma/light';
  }

  [data-bs-theme='dark'] {
    @import 'chroma/dark';

    .chroma {
      background-color: var(--td-pre-bg);
    }
  }
}
