// =============================================================================
// Color adjustments for dark mode, mainly to improve color contrast.
//
// Note that other style files might also include dark-mode adjustments, search
// for [data-bs-theme='dark'].
//
// Status: EXPERIMENTAL
// Usage: @import 'td/color-adjustments-dark'; // in client _styles_project.scss
// =============================================================================

// The following value makes sense for the Bootstrap base theme. Projects will
// likely need to adjust this.
$lighten-amount-for-dark-color-variant: 22% !default;
$secondary-lighter: lighten($secondary, 30%) !default;

// Make box-shadow color contrast more obvious in dark mode.
// https://github.com/twbs/bootstrap/issues/39053 reports this issue.
$box-shadow-alpha-dark: 0.8 !default;
// Note: for some reason the following SCSS var must be a CSS var.
$box-shadow-color-rgb-dark: var(--bs-black-rgb) !default;

$primary-darker: shade-color(
  $primary,
  $lighten-amount-for-dark-color-variant
) !default;

@if $enable-dark-mode {
  @include color-mode(dark) {
    $box-shadow-color-rgba-dark: rgba(
      #{$box-shadow-color-rgb-dark},
      #{$box-shadow-alpha-dark}
    ) !default;

    // The following is supposed to only tweak the rgba value, but Bootstrap isn't
    // setup to allow this. So we'll need to ensure that non-rgba values stay in
    // sync with Bootstraps.

    --bs-box-shadow: 0 0.5rem 1rem #{$box-shadow-color-rgba-dark};
    --bs-box-shadow-sm: 0 0.125rem 0.25rem #{$box-shadow-color-rgba-dark};
    --bs-box-shadow-lg: 0 1rem 3rem #{$box-shadow-color-rgba-dark};
    --bs-box-shadow-inset: inset 0 1px 2px #{$box-shadow-color-rgba-dark};

    // --------------------------------

    --bs-primary: #{$primary-darker} !important;
    --bs-secondary: #{$secondary-lighter} !important;
  }

  // ---------------------------------------------------------------------------
  // Tips 'n tricks
  // ---------------------------------------------------------------------------

  // If you need to adjust properties of a deeply nested class in dark mode, you
  // can use the following syntax:

  // .td-some-class {
  //   .td-deeply-nested-class {
  //     @at-root [data-bs-theme="dark"] #{&} {
  //       // ...
  //     }
  //   }
  // }

  // Want to see the var value? Try:
  // @warn "primary-darker: #{$primary-darker}";
}
