.td-footer {
  --td-footer-border-color: var(--bs-border-color);
  --td-footer-border: 1px solid var(--bs-border-color);
  --td-min-height: 10rem;

  // TODO: don't impost dark theme here
  @extend .td-box--dark;
  // TODO: until we're freed from the dark theme hide the border in light mode;
  // we don't need it because the footer itself is dark.
  @at-root {
    @include color-mode(light) {
      .td-footer {
        --td-footer-border: none;
      }
    }
  }

  min-height: var(--td-min-height);
  padding-top: map-get($spacers, 5);
  border-top: var(--td-footer-border);

  /* &__left { } */

  &__center {
    @extend .small;
    text-align: center;
  }

  &__right {
    text-align: right;
  }

  &__about {
    font-size: initial;
  }

  &__links {
    &-list {
      @extend .list-inline;
      margin-bottom: 0;
    }

    &-item {
      @extend .list-inline-item;
      @include font-size(map-get($font-sizes, 4));

      a {
        color: inherit !important;
      }
    }
  }

  &__authors,
  &__all_rights_reserved {
    padding-left: map-get($spacers, 1);
  }

  &__all_rights_reserved {
    display: none;
  }
}
