// The outer page container i.e. common styles for any page.
.td-outer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// The outer page container for the default base template.
.td-default {
  main {
    > section:first-of-type {
      @include media-breakpoint-up(md) {
        padding-top: calc(
          #{$td-navbar-min-height} + #{$td-block-space-top-base}
        );
      }
    }

    section {
      @extend .td-block-padding;
    }
  }
}

.td-main {
  flex-grow: 1;
  @at-root .td-section &,
    .td-page & {
    // Use flex so descendant elements (like <main>) can grow to fill the
    // available vertical (viewport) space, but only for docs layouts (it breaks
    // td-home, which needs column-based layout). We select docs layouts via
    // .td-section and .td-page above.
    display: flex;
  }
}

.td-404 main,
.td-main main {
  --td-main-padding-top: 1.5rem;

  padding-top: var(--td-main-padding-top);
  padding-bottom: 2rem;
  @include media-breakpoint-up(md) {
    padding-top: calc(var(--td-main-padding-top) + #{$td-navbar-min-height});
  }
}
