// cSpell:ignore fontawesome pageinfo

@import '../../vendor/bootstrap/scss/functions';

@import 'variables_forward';
@import '../variables_project';
@import 'variables';
@import 'support/mixins';

@import '../../vendor/bootstrap/scss/bootstrap';
@import 'support/bootstrap_vers_test';

@import '../../vendor/Font-Awesome/scss/fontawesome';
@import '../../vendor/Font-Awesome/scss/solid';
@import '../../vendor/Font-Awesome/scss/brands';

@import '../variables_project_after_bs';

@import 'support/utilities';
@import 'blog';
@import 'boxes';
@import 'code';
@import 'colors';
@import 'footer';
@import 'nav';
@import 'table';
@import 'sidebar-tree';
@import 'sidebar-toc';
@import 'breadcrumb';
@import 'alerts';
@import 'content';
@import 'search';
@import 'main-container';
@import 'blocks/blocks';
@import 'section-index';
@import 'pageinfo';
@import 'taxonomy';
@import 'drawio';
@import 'scroll';
@import 'shortcodes';
@import 'swagger';
@import 'support/rtl';

@if $td-enable-google-fonts {
  @import url($td-web-font-path);
}

@import '../styles_project';
