// The outer page container i.e. common styles for any page.
.td-outer {
  display: flex;
  flex-direction: column;

  min-height: calc(
    100vh - #{$td-navbar-min-height} - #{$td-navbar__main-min-height-mobile}
  );

  @include media-breakpoint-up(md) {
    min-height: 100vh;
  }
}

// The outer page container for the default base template.
.td-default {
  main {
    > section:first-of-type {
      @include media-breakpoint-up(md) {
        padding-top: calc(
          #{$td-navbar-min-height} + #{$td-block-space-top-base}
        );
      }
    }

    section {
      @extend .td-block-padding;
    }
  }
}

.td-main {
  flex-grow: 1;
  @include media-breakpoint-up(md) {
    // Use flex when this container has a sidebar so descendant elements with
    // flex:1 (like <main> in docs layouts) can grow.
    &:has(> .row .td-sidebar-nav) {
      display: flex;
    }
  }
}

.td-404 main,
.td-main main {
  --td-main-padding-top: 1.5rem;

  padding-top: var(--td-main-padding-top);
  padding-bottom: 2rem;

  @include media-breakpoint-up(md) {
    padding-top: calc(var(--td-main-padding-top) + #{$td-navbar-min-height});
  }
}
