.td-table:not(.td-initial) {
  @extend .table;
  @extend .table-striped;
  @extend .table-responsive;

  // The following is needed for tables to be responsive.
  // For details, see the https://docsy.dev/docs/content/lookandfeel/#tables
  display: block;
}
