{{/* cSpell:ignore markmap plantuml katex hasmermaid */ -}}

{{ if .Site.Params.markmap.enable -}}
  {{ partial "scripts/markmap.html" . -}}
{{ end -}}

{{ if .Site.Params.plantuml.enable -}}
  {{ partial "scripts/plantuml-deflate.html" . -}}
{{ end -}}

{{ if .Page.Store.Get "hasmermaid" -}}
  {{ partial "scripts/mermaid.html" . -}}
{{ end -}}

{{ if .Page.Store.Get "hasMath" -}}
  {{ partial "scripts/katex.html" . -}}
{{ end -}}

{{ partial "scripts/main-bundle.html" . -}}
{{ partial "scripts/code-copy.html" . -}}
{{ partial "scripts/algolia.html" . -}}
{{ partial "scripts/tabpane-persist.html" . -}}
{{ partial "hooks/body-end.html" . -}}
