.published-draft-post h1::before {
  content: '[DRAFT] ';
  color: var(--bs-warning-text-emphasis);
  font-weight: 700;
}

// Release blog post styles

.release-highlights .card {
  .card-header {
    background-color: var(--bs-success-bg-subtle) !important;
    font-size: xx-large;
    text-align: center;
  }

  .card-text {
    display: none;
  }

  .card-body {
    font-size: large;

    ul {
      list-style: none;
      padding-left: 0;
      margin-left: 0;
      margin-bottom: 0;
    }

    li {
      --padding-y: 0.7rem;
      display: flex;
      align-items: center;
      margin-bottom: 0.5rem;
      flex-wrap: nowrap;

      padding-top: var(--padding-y);

      &:not(:last-child) {
        border-bottom: 1px solid var(--bs-secondary-bg);
        padding-bottom: var(--padding-y);
      }

      i {
        width: 1.6rem;
        margin-left: 1rem;
        margin-right: 2rem;
        flex-shrink: 0;
      }
    }
  }
}

._list-unstyled ul,
ul._list-unstyled {
  list-style: none;
  padding-left: 0;
  --icon-width: 2.2rem;

  li {
    padding-left: var(--icon-width);

    i {
      margin-left: calc(var(--icon-width) * -1);
      padding-right: 0.6rem !important;
      max-width: var(--icon-width);
    }
  }
}
