//
// Color tuning for the Docsy website
//

@import 'td/color-adjustments-dark';
@import 'td/code-dark';
@import 'td/gcs-search-dark';
@import 'blog';
@import 'navbar';

// Add a border between the footer and page content for pages with dark content
// in general (like the homepage), or in dark mode.
.td-home,
.td-section,
.td-page {
  .td-footer {
    border-top: 1px solid var(--bs-border-color);
  }
}
